body{
    font-family: 'Montserrat', sans-serif;
    background-color: beige;
    
}
h1{
    font-size: 96;
}
h2{
    font-size: 80;
}
p{
    font-size: 32;
}
h3{
font-size: 64;

}
h4{
    font-size:48;
}

.bar{
    font-weight: 200;
    
}
#scrollingbar{
    background-color: white;
    position: fixed;
    top:0px;
    left:0px;
    width: 3000px; 
}
#imgbox{
    top: 50px;
    left: 400px;
    float: left;
    border: 50px solid white;
}
#homebox{
    top: 50px;
    float: left;
    border: 50px solid white;
}
#menubox{
    top: 50px;
    float: left;
    border: 50px solid white;
}
#barbox{
    top: 50px;
    float: left;
    border: 50px solid white;
}
#hpbox{
    top: 50px;
    float: left;
    border: 50px solid white;
}
#ctrbox{
    top: 50px;
    float: left;
    border: 50px solid white;
}
#imagesbox{
    top: 50px;
    float: left;
    border: 50px solid white;
}

