@font-face{
    src: url(imgs/JandusRoad.otf);
    font-family: Jandus
}
body{
    font-family: "Jandus", consolas;
    background-color: beige;
    
}
h1{
    font-size: 72;
}
p{
    font-size: 36;
}
h3{
font-size: 48;
}
h4{
    font-size:42;
}